<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <div class="field number required">
                <label class="label" style="font-weight: 600;" for="card_holder_name">
                    <span><!-- ko i18n: 'Cardholder Name'--><!-- /ko --></span><span style="color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px;">*</span>
                </label>
                <div class="control">
                    <input type="text" id="card_holder_name" name="card_holder_name" class="input-text" style="width: 270px; margin: 8px 0 17px;" required>
                </div>
                <label class="label" style="font-weight: 600;" for="document_number">
                    <span><!-- ko i18n: 'Document Number'--><!-- /ko --></span><span style="color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px;">*</span>
                </label>
                <div class="control">
                    <input type="text" id="document_number" name="document_number" class="input-text" style="width: 270px; margin: 8px 0 17px;" required>
                </div>
                <label class="label" style="font-weight: 600;" for="installments_numbers">
                    <span><!-- ko i18n: 'Installments Numbers'--><!-- /ko --></span><span style="color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px;">*</span>
                </label>
                <div class="control">
                    <select id="installments_numbers" name="installments_numbers" class="input-text" style="width: 80px; margin: 8px 0 17px;" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
            <!-- ko template: 'Magento_Payment/payment/cc-form' --><!-- /ko -->
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>